<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <title>Update Data Siswa</title>
    <style>
        h1 {
            text-align: center;
        } body {
            margin: 0 416px 0 416px;
            background-color: whitesmoke;
        }
    </style>
</head>
<body>
    <div>
        <br>
            <br>
        <br>
    </div>
    <h1>Update Data Siswa</h1>
    <form action="{{ url_for('edit_data', id=user[0]) }}" method="POST">
        <label for="nama">Nama:</label>
        <input type="text" class="form-control" aria-label="Sizing example input type="text" name="nama" value="{{ user[1] }}" required><br>

        <label for="alamat">Alamat:</label>
        <input type="text" class="form-control" type="text" name="alamat" value="{{ user[2] }}" required><br>

        <label for="email">Email:</label>
        <input type="text" class="form-control" type="email" name="email" value="{{ user[3] }}" required><br>

        <input class="btn btn-primary" type="submit" value="Simpan Perubahan">
    </form>
    <br>
    <a type="button" class="btn btn-secondary" href="{{ url_for('index') }}">Kembali ke Data User</a>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
